.diarylist .menu {
  margin: 20px 0px;
  display: flex;
  gap: 10px;
}

.diarylist .menu select {
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.diarylist .menu button {
  flex: 1;
}
