.diaryitem {
  display: flex;
  gap: 15px;
  /* align-items: center;
  보고 중앙이 이쁘면 그대로 하기 */
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid #e9e9e9;
}

.diaryitem .img_section {
  min-width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.diaryitem .img_section > img {
  width: 50%;
}

.diaryitem .img_section_1 {
  background-color: rgb(100, 201, 100);
}

.diaryitem .img_section_2 {
  background-color: rgb(157, 215, 114);
}
.diaryitem .img_section_3 {
  background-color: rgb(253, 206, 23);
}
.diaryitem .img_section_4 {
  background-color: rgb(253, 132, 70);
}
.diaryitem .img_section_5 {
  background-color: rgb(253, 86, 95);
}

.diaryitem .info_section {
  flex: 1;
  cursor: pointer;
}

.diaryitem .info_section .created_date {
  font-weight: bold;
  font-size: 21px;
}

.diaryitem .info_section .content {
  font-size: 18px;
}

.diaryitem .btn_section {
  min-width: 70px;
}
